.border_radius_blocks{
    width: 150px;
    height: 150px;
    background-color: greenyellow;
    border: 3px solid gray;
    float: left;
}

#circular_border_radius_block{
    border-radius: 10%;
    border-radius: 10% 10%;
    border-radius: 10% 20% 30% 40%;
}

#elliptical_border_radius_block{
    border-radius: 10% / 50%;
    border-radius: 10% 50% / 50% 10%;
}

#square_to_circle_block{
    border-radius: 50%;
}

#rectangle_to_ellipse_block{
    width: 300px;
    height: 150px;
    border-radius: 50%;
}

#guitar_pick_block{
    border-radius: 10% 90% 57% 43% / 6% 34% 66% 94%;
}

#water_droplet_block{
    background-color: transparent;
    border: none;
    background-image: linear-gradient(lightblue, darkblue);
    border-radius: 0% 100% 43% 57% / 0% 67% 33% 100%;
}
/* 9Element github.com */