* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F9DFDF;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 5px;
    z-index: 1000;
    height: 70px;
}

#cartContainer {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    /* overflow: hidden; */
    background-color: #D9CFC7;


}

.product img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease;
    background-color: #D5E5D5;
    overflow: hidden;

}

.product img:hover {
    transform: scale(1.1);
     overflow: hidden;

}


.cart {
    background: white;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.cart h2 {
    margin-bottom: 10px;
    color: #333;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    /* background: #fafafa; */
    background-color: #C3ACD0;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
}

.product h4 {
    margin: 8px 0;
    font-size: 16px;
}

.product p {
    font-size: 14px;
    margin: 4px 0;
}

.cart-summary {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: green;
}

.error {
    color: red;
}