
/* 
CSS rules: 

selector{
property: value;

}
*/
h1{
color: darkblue;
font-size: 65px;
}
button{
color: white;
background-color: royalblue;
outline: none;
border: none;
font-size: 35px;
font-weight: bold;
border-radius: 10px;
}
