*{
    padding: 0px;
    margin: 0px;
    font-family: ProductSans;
}

@font-face{
    font-family: ProductSans;
    src: url(../../../assets/fonts/ProductSansRegular.ttf);
}

body{
    padding: 20px;
}

#earth_image{
    width: 265px;
    padding: 10px;
    border: 45px groove lightblue;
    box-sizing: border-box;
}

#web_development_heading{
    width: fit-content;
    font-size: 65px;
    border: 30px inset lightgray;

    /* padding specific properties */
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    /* padding shorthand property */
    padding: 10px 20px;

    /*
    margin specific properties
    margin-top: ;
    margin-right: ;
    margin-bottom: ;
    margin-left: ;
    margin shorthand property
    margin: ;
    */
}

#explore_button{
    font-size: 50px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: lightgray;
    margin: 20px 0px;
    border: 3px solid black;
    padding: 5px 20px;
}
