.population_graph{
    font-size: 60px;
    width: 250px;
}

#population{
    font-size: 90px;
    text-align: center;
}

#india_population{
    border-right: 1000px solid red;
     
}

#china_population{
    border-right: 700px solid orange;

}
#usa_population{
        border-right: 300px solid green;

}