/* #themeToggle{
    cursor: pointer;
    padding: 10px;
    border: 1px solid #000;
    border: none;
    border-radius: 10PX;
    width: 150px;
    height: 70px;
    font-weight: bold;
    background-color: #000;
    color: black;

} */


/* #themeToggle{
outline: none;
border: none;
background-color: palevioletred;
color: black;
width: 150;
height: 100;
border-radius: 10px;


} */

