*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#vehicle_image_contaniers{
    width: 100%;
    height: 550px;
    border-bottom: 15px solid black;
}
.vehicle_images_contaniers{
    width:160px;
    transition:margin-left 5700ms ; 
}
/* #vehicle_image_contaniers:hover{
    margin-left: 1100px;
} */
#vehicle_image_contaniers:hover>
.vehicle_images_contaniers{
     margin-left: 1150px;
}
#cycleimage{
    transition-timing-function: ease;
}
#bikeimage{
    transition-timing-function: ease-in;
    transition-delay:5000ms ;
    
}
#carimage{
    transition-timing-function: ease-in-out;
    transition-delay: 10000ms;
}
#lorryimage{
    transition-timing-function: ease-out;
    transition-delay:15000ms;
}
#jcbimage{
    transition-timing-function: linear;
    transition-delay:20000ms;
}
