*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ProductSans;
}

@font-face{
    font-family: ProductSans;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}

body{
    padding: 20px;
}

#purple_color_block{
    width: 300px;
    height: 300px;
    background-color: purple;
    padding: 10px;
    border: 35px solid gray;
}

#content{
    color: white;
    font-size: 45px;
}
