 #flower{
    width: 400px;
    height: 400px;
    border: none;
    
}
.flower_blocks{
    width: 50%; 
    height: 50%;
    float: left;

    
}
.flower_red_block{
background-color: yellow;
border-radius: 0px 80.5% 0px 80.5%;

}
.flower_darkblue_block{
    background-color: darkblue;
    float: left;
    border-radius: 80.5% 0% 80.5% 0%;
}
.flower_orange_block{
    background-color: orange;
    border-radius: 80.5% 0% 80.5% 0%;
}
.flower_green_block{
    background-color: green;
    border-radius: 0px 80.5% 0px 80.5%;
} 
.flower_border{
    border: 3px solid black;
}