.border_radius_blocks{
    width: 100px;
    height: 100px;
    border: 10px solid black;
    background-color: greenyellow;
    float: left;
}
#Squre_border_radius{
    border-radius: 10px 20px 30px 40px;
}

#circular_border_radius{
    border-radius: 50%;
}