*{
    box-sizing: border-box;
    margin: 10px;
}
#inst_card{
    width: 350px;
    height: 350px;
    margin-left: 10em;
    margin-top: 10em;
    background-color: rgb(142, 109, 109);
    border-radius: 20px;
    padding: 10px;

}

.img{
     width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-top: 50px;
    transition: transform 0.3s ease;
}

.img:hover {
    transform: scale(1.4) rotateX(180deg) rotateY(180deg);
}

#heart-button {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #999;
    padding: 8px;
    transition: color 0.3s;
}           
   
#like_count {
    font-size: 25px;
    margin-top: 10px;
}
#heart-button:hover {
    transform: scale(1.2) rotateX(180deg);
}

#heart-button.liked {
    transform: scale(1.3);
    color: #e74c3c;
}

