*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: ProductSans;
    src: url(../../assets/fonts/ProductSansBold.ttf);
}
#box_contanier{
    width: 250px;
    height: 250px;
    margin: 100px 0px 0px 100px;
    background-color: orange;
    border-radius: 25%;
    cursor: pointer;
}
#box_contanier:hover{
    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
    transition: box-shadow 500ms ease-in ;
    box-shadow: 20px 0px 15px grey;
    box-shadow: 0px 20px 15px grey;
    box-shadow: 0px -20px 15px grey ;
    box-shadow: -20px 0px 15px grey ;
    box-shadow: -20px 20px 15px grey ;
    box-shadow: 20px -20px 15px grey ;
    box-shadow: 20px 20px 15px grey ;
    box-shadow: -30px -25px 15px grey ;
}
