        *{
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            /* background-color: rgb(154, 98, 58); */
        }
        #container {
            width: 100%;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 5px 5px 12px rgba(0,0,0,0.1);
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            margin-left: 20px;
            

        }
        body {
            font-family: Arial, sans-serif;
            /* background-color: #f9f9f9; */
        }
        main {
            margin-top: 20px;


        }
        h2 {
            background-color: black;
            color:white;
            padding: 10px;
            border-radius: 10px;
        }
        
        /* p {
            line-height: 1.6;
            color: #666;
            width: 300px;
            height: 80px;
            overflow: scroll;
            color: black;
            
        } */
        img {
            max-width: 350px;
            height: 300px;
            margin: 10px 0;
            border-radius: 14px; 
            cursor: pointer;
            transition: transform 1.2s ease-in-out;
            
        }
        img:hover {
            /* transform: rotate(0deg); */
            transform: scale(1.2);
        }
        
        
       
        h4 {
            background-color:palevioletred;
            color:white;
            padding: 10px;
            border-radius: 10px;
        }
        
        .tags{
            background-color :tomato;
            color:white;
            padding: 10px;
            border-radius: 10px;

        }