@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

.headings{
    font-size: 45px;
    text-align: center;
    color: greenyellow;
    background-color: gray;
}

#web_development_heading{
    font-family: 'Courier New', Courier, monospace;
}

#core_java_heading{
    font-family: Luckiest Guy;
}

#core_python_heading{
    font-family: DynaPuff;
}

#merry_christmas_heading{
    font-family: Mountains Of Christmas;
}

@font-face{
    font-family: NeueMachina;
    src: url('../../../assets/fonts/NeueMachinaRegular.otf');
}

#machine_learning_heading{
    font-family: NeueMachina;
}

@font-face{
    font-family: ProductSans;
    src: url('../../../assets/fonts/ProductSansRegular.ttf');
}

#google_doodle_heading{
    font-family: ProductSans;
}