body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.products {
    display: flex;
    gap: 20px;
}

.card {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

button {
    background-color: crimson;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: darkred;
}

#wishlist li {
    margin: 5px 0;
}
.remove-btn {
    background: gray;
    margin-left: 10px;
}